<!DOCTYPE html>
<html lang="en">
   <head th:insert="~{partials/head.html :: head}"></head>
   <body>
      <div th:replace="~{partials/banner :: banner(registrati=true, login=true)}"></div>
      <!-- fashion section start -->
      <div class="fashion_section">
         <div id="main_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <div class="container">

                     <div class="fashion_section_2">
                        <div class="row">
                           <div class="col-lg-4 col-sm-4">
                              <div class="box_main">
                                 <h4 class="shirt_text">Therea regularis</h4>
                                 <p class="price_text">Prezzo  <span style="color: #262626;">€ 12 per 12 esemplari</span></p>
                                 <div class="tshirt_img"><img src="images/Therea-regularis-1.jpg"></div>
                                 <div class="btn_main">
                                    <div class="buy_bt"><a href="#">Buy Now</a></div>
                                    <div class="seemore_bt"><a href="#">See More</a></div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-lg-4 col-sm-4">
                              <div class="box_main">
                                 <h4 class="shirt_text">Gyna caffrorum</h4>
                                 <p class="price_text">Prezzo  <span style="color: #262626;">€ 10 per 12 esemplari</span></p>
                                 <div class="tshirt_img"><img src="images/Gyna-caffrorum.jpg"></div>
                                 <div class="btn_main">
                                    <div class="buy_bt"><a href="#">Buy Now</a></div>
                                    <div class="seemore_bt"><a href="#">See More</a></div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-lg-4 col-sm-4">
                              <div class="box_main">
                                 <h4 class="shirt_text">Pseudoglomeris magnifica</h4>
                                 <p class="price_text">Prezzo  <span style="color: #262626;">€ 9 per un esemplare</span></p>
                                 <div class="tshirt_img"><img src="images/Pseudoglomeris-magnifica.jpg"></div>
                                 <div class="btn_main">
                                    <div class="buy_bt"><a href="#">Buy Now</a></div>
                                    <div class="seemore_bt"><a href="#">See More</a></div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>

            </div>
         </div>
      </div>
      <!-- fashion section end -->


      <form action="/login" method="post" id="formId">
         <input type="hidden" id="addressForm" name="address">
      </form>

     <div th:replace="~{partials/footer.html :: footer}"></div>

      <script th:src="@{/js/loginMetaMask.js}"></script>
      <script th:src="@{/js/web3.min.js}"></script>
      <script th:if="@{flagUtenteTrovato==false}">alert('utente non registrato')</script>
      <script th:if="@{utenteGiaPresente==true}">alert('utente già registrato')</script>
   </body>
</html>