<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Roach For Life</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" type="text/css" th:href="@{css/bootstrap.min.css}">
      <!-- style css -->
      <link rel="stylesheet" type="text/css" th:href="@{css/style.css}">
      <!-- Responsive-->
      <link rel="stylesheet" th:href="@{css/responsive.css}">
      <!-- fevicon -->
      <link rel="icon" th:href="@{images/fevicon.png}" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" th:href="@{css/jquery.mCustomScrollbar.min.css}">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <!-- fonts -->
      <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
      <!-- font awesome -->
      <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <!--  -->
      <!-- owl stylesheets -->
      <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Poppins:400,700&display=swap&subset=latin-ext" rel="stylesheet">
      <link rel="stylesheet" th:href="@{css/owl.carousel.min.css}">
      <link rel="stylesoeet" th:href="@{css/owl.theme.default.min.css}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
   </head>
   <body>
      <div th:replace="~{partials/banner :: banner(registrati=true, login=true)}"></div>
      <!-- fashion section start -->
      <div class="fashion_section">
         <div id="main_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <div class="container">

                     <div class="fashion_section_2">
                        <div class="row">
                           <div class="col-lg-4 col-sm-4">
                              <div class="box_main">
                                 <h4 class="shirt_text">Therea regularis</h4>
                                 <p class="price_text">Prezzo  <span style="color: #262626;">€ 12 per 12 esemplari</span></p>
                                 <div class="tshirt_img"><img src="images/Therea-regularis-1.jpg"></div>
                                 <div class="btn_main">
                                    <div class="buy_bt"><a href="#">Buy Now</a></div>
                                    <div class="seemore_bt"><a href="#">See More</a></div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-lg-4 col-sm-4">
                              <div class="box_main">
                                 <h4 class="shirt_text">Gyna caffrorum</h4>
                                 <p class="price_text">Prezzo  <span style="color: #262626;">€ 10 per 12 esemplari</span></p>
                                 <div class="tshirt_img"><img src="images/Gyna-caffrorum.jpg"></div>
                                 <div class="btn_main">
                                    <div class="buy_bt"><a href="#">Buy Now</a></div>
                                    <div class="seemore_bt"><a href="#">See More</a></div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-lg-4 col-sm-4">
                              <div class="box_main">
                                 <h4 class="shirt_text">Pseudoglomeris magnifica</h4>
                                 <p class="price_text">Prezzo  <span style="color: #262626;">€ 9 per un esemplare</span></p>
                                 <div class="tshirt_img"><img src="images/Pseudoglomeris-magnifica.jpg"></div>
                                 <div class="btn_main">
                                    <div class="buy_bt"><a href="#">Buy Now</a></div>
                                    <div class="seemore_bt"><a href="#">See More</a></div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>

            </div>
         </div>
      </div>
      <!-- fashion section end -->


     <div th:replace="~{partials/footer.html :: footer}"></div>

      <script th:src="@{/js/loginMetaMask.js}"></script>
   </body>
</html>