<!DOCTYPE html>
<html lang="en">
<head th:insert="~{partials/head.html :: head}"></head>

<body>
<div th:replace="~{partials/banner.html :: banner(registrati=false, login=true)}"></div>

<!-- fashion section start -->
<div class="fashion_section" id="formRegistrazione">
    <div>
        <form action="/registrazione" method="post" id="formReg">
            <label for="fname">Username</label>
            <input type="text" id="fname" name="username" placeholder="Inserisci una username" required>

            <label for="metaInput">Indirizzo Ethereum</label>
            <input type="text" id="metaInput" name="addressEth" placeholder="Inserisci il tuo indirizzo Ethereum" required>

            <label for="metamask">Oppure usa MetaMask</label>
            <img th:src="@{/images/metamask.png}" id="metamask" onclick='insertAddress("formReg","metaInput")' style="width: 35px;cursor: pointer;">

            <input type="submit" value="Invia" onclick="return getAddress();">
        </form>
    </div>
</div>
<!-- fashion section end -->


<div th:replace="~{partials/footer.html :: footer}"></div>


<script th:src="@{/js/loginMetaMask.js}"></script>
</body>
</html>